
/* Background still needs to be fixed*/
/* ------------------------------------*/
body{
  background-image:url("images/background_light.jpg");
  background-repeat: no-repeat;

}
/* All links are blue with no underline*/
a{
  color:blue;
  text-decoration: none;
}
p{
  color: grey;
}

table{
  background-color: white;
  width: 1000px;
  margin: 0 auto;
}
ul{
  list-style-type: none;
  float:left;
}
li{
  color: rgb();
}

#mainimage{
  border: 1px solid grey;
  float: right;
  position:absolute;
  top: 125px;
  left: 565px;
}
.mainparagraph{
  width: 550px;
  float: left;
}


.batman{
  border-bottom: 1px solid grey;
  padding: 5px 5px 5px 5px;
}


#sidebar{
  background-color: grey;
  width: 250px;

}
#footer{
  background-color: black;
  color: white;
  padding: 25px;
  text-align: right;
}